<html>
<head>
	<title>Welcome to Choco's World~!</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js" charset="utf-8"></script>
</head>
<body>
<div class="jumbotron text-center">
	<!-- 네이버아이디로로그인 버튼 노출 영역 -->
	<div id="naver_id_login"></div>

	<h1>This is Choco's page.</h1>
	<p>{{helloMessage}}</p>
	<p>{{serverIp}}</p>
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-4">
			<h3>Column 1</h3>
			<div>
				<button id="find-my-video-button" class="btn">find-my-video</button>
				<p id="video-view"></p>
			</div>
			<p>this is choco's first sub...</p>
			<p>KAAAAAANG~...</p>
		</div>
		<div class="col-sm-4">
			<h3>Column 2</h3>
			<p>크릉크릉 크르릉~~</p>
			<p>아 왤케 많앙</p>
		</div>
		<div class="col-sm-4">
			<h3>Column 3</h3>
			<p>놀고싶다~~~</p>
			<p>일하기 싫다앙ㅇ~~~~</p>
		</div>
	</div>
</div>

<script type="text/javascript">
	var naver_id_login = new naver_id_login("Y9Lida0rFO4aS2xknrtX", "http://localhost:8080/");
	var state = naver_id_login.getUniqState();

	naver_id_login.setButton("white", 2, 40);
	naver_id_login.setDomain("http://localhost:8080");
	naver_id_login.setState(state);
	// naver_id_login.setPopup();
	naver_id_login.init_naver_id_login();

	naver_id_login.get_naver_userprofile("naverSignInCallback()");
	function naverSignInCallback() {
		if (naver_id_login.getProfileData('email')) {
			alert('[naver_id_login] \n email : ' + naver_id_login.getProfileData('email')
					+ '\n nickname : ' + naver_id_login.getProfileData('nickname')
					+ '\n age : ' + naver_id_login.getProfileData('age')
					+ '\n state : ' + naver_id_login.getUniqState()
					+ '\n accessToken : ' + naver_id_login.oauthParams.access_token
			);
		}
	}
</script>

</body>
</html>
